body { 
	font-family: 'Georgia', serif; 
	font-size: 17px; 
	color: #000; 
	margin: 0px; 
	padding: 0px; 
	width: 321px;
	margin: auto;
}

#content {
	color: black; 
	padding: 10px;
	background: #ECECEC;
}

img { padding: 30px 0px 30px 0px; background: #EFEFEF;}
