<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>GAE and Flask</title>
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<img src="/static/images/64777_gemini_md.gif" alt="" />
	<div id="content">
		<p>Hi, we're running Flask on Google App Engine.
		   Go on with <a href="http://flask.pocoo.org/docs/quickstart/">Flask Quickstart</a>
			and <a href="http://code.google.com/appengine/docs/python/gettingstarted/usingdatastore.html">use
				the GAE datastore</a>.</p>	
		<p>Our home can be found over at <a href="http://github.com/miku/flask-gae-stub">github</a>.</p>	
	</div>
</body>
</html>


